.float-whatsapp{
	position:fixed;
	width:60px;
	height:60px;
	bottom:20px;
	right:20px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  	font-size:30px;
	box-shadow: 2px 2px 3px #999;
  	z-index:100;
}
.float-whatsapp:hover {
	text-decoration: none;
	color: #25d366;
  background-color:#fff;
}

.my-float-whatsapp{
	margin-top:16px;
}



.float-messenger{
	position:fixed;
	width:60px;
	height:60px;
	bottom:90px;
	right:20px;
	background-color: #844eff;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  	font-size:30px;
	box-shadow: 2px 2px 3px #999;
  	z-index:100;
}
.float-messenger:hover {
	text-decoration: none;
	color: #844eff;
 	background-color:#fff;
}

.my-float-messenger{
	margin-top:16px;
}
